@charset "UTF-8";
h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

body {
  margin: 0;
}

html {
  margin: 0;
}

ol {
  padding: 0;
}

button {
  border: none;
}

* {
  font-family: "Roboto", sans-serif;
}

p {
  font-weight: lighter;
  color: #444444;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 0px 2px 10px #adabab;
  padding: 20px;
  position: relative;
  z-index: 10;
}
.header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header__return-icon {
  align-self: center;
}

.location {
  background-color: #e6e5e5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.location__title {
  display: none;
}
.location__text {
  background-color: #e6e5e5;
  border: none;
}
.location__icon {
  margin-right: 15px;
}

.app-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-bottom: 5rem;
}
.app-intro__title {
  text-align: center;
  margin-bottom: 1rem;
}
.app-intro__text {
  text-align: center;
}

.button--primary {
  padding: 1rem;
  background: linear-gradient(to top, #9356DC 5%, #FF79DA 100%);
  border-radius: 28px;
  box-shadow: 3px 3px 10px #c7c7c7;
  width: 60%;
  align-self: center;
  color: #ffffff;
  text-align: center;
  margin-top: 1.5rem;
}
.button--primary:hover {
  background: linear-gradient(to top, #a16be0 5%, #ff93e1 100%);
  box-shadow: 3px 10px 10px #c7c7c7;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
}
.fonctionnement__list {
  margin-bottom: 6rem;
}
.fonctionnement__list__item {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-radius: 28px;
  position: relative;
  box-shadow: 0 2px 3px 3px #e2e1e1;
  margin-bottom: 1.5rem;
  margin: 2.4rem 0;
}
.fonctionnement__list__item:hover {
  background-color: rgba(255, 121, 218, 0.2);
}
.fonctionnement__list__item:hover .fonctionnement__icon {
  color: #9356DC;
}
@media only screen and (min-width: 600px) {
  .fonctionnement__list {
    align-self: center;
    width: 100%;
  }
}
.fonctionnement__icon {
  align-self: center;
  height: 1rem;
  width: 1rem;
  color: grey;
  margin-right: 1.5rem;
  margin-left: 1rem;
}
.fonctionnement__marker {
  position: absolute;
  background-color: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  top: 10px;
  left: -5px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 28px;
  box-shadow: 5px 5px 10px -8px rgba(88, 87, 87, 0.75);
  position: relative;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 600px) {
  .card {
    flex: 0 45%;
    margin: 15px;
  }
}
.card__image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  max-height: 180px;
}
.card__content {
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 0px;
  padding: 12px;
}
.card__content__icon {
  grid-area: 1/2/3/3;
  align-self: center;
  color: grey;
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
}
.card__content__icon--color {
  position: absolute;
  left: 0px;
  top: -2px;
  z-index: 2;
  height: 1.5rem;
  width: 1.5rem;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
}
.card__content__icon--color:hover {
  opacity: 1;
  background: linear-gradient(to top, #FF79DA 5%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.card__content__description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  grid-area: 2/1/3/2;
  margin-top: 0.5rem;
  padding-right: 10px;
}
.card__content__price {
  grid-area: 2/2/3/3;
}
.card--nouveau {
  position: relative;
}
.card--nouveau::before {
  content: "Nouveau";
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
  border-radius: 3px;
  padding: 0.5rem 0.75rem;
  position: absolute;
  top: 10px;
  right: 10px;
}
.card--pictureless {
  display: block;
  position: relative;
  border-radius: 14px;
  padding: 10px;
  overflow: hidden;
}
.card--pictureless:hover .card__check-element {
  transform: translateX(0px);
}
.card--pictureless:hover .card__check-icon {
  transform: rotate(360deg);
}
.card--pictureless:hover .card__grid {
  width: 75%;
}
.card__check-element {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: 1s;
  background-color: #99E2D0;
  height: 100%;
  width: 74px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  display: flex;
  justify-content: center;
}
.card__check-icon {
  align-self: center;
  color: white;
  transform: rotate(0deg);
  transition: transform 1s;
}
.card__grid {
  display: grid;
  width: 100%;
  grid-template-columns: 11fr 1fr;
  grid-template-rows: 1fr 1fr;
  transition: width 1s;
}
@keyframes slide-in {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #3b3a3a;
  color: white;
  padding: 30px;
}
@media only screen and (min-width: 600px) {
  .footer {
    align-items: center;
    justify-content: center;
  }
}
.footer__logo {
  height: 1.5rem;
  align-self: flex-start;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(283deg) brightness(104%) contrast(101%);
  margin-bottom: 1rem;
}
@media only screen and (min-width: 600px) {
  .footer__logo {
    align-self: center;
  }
}
.footer__icon {
  margin-right: 7px;
  margin-top: 5px;
  height: 1rem;
  width: 1rem;
}
.footer__div {
  display: flex;
  flex-direction: row;
}
.footer__link {
  margin: 5px 0;
}

.main-content {
  padding: 15px;
}
@media only screen and (min-width: 600px) {
  .main-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 600px) {
  .restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.restaurants__title {
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 600px) {
  .restaurants__title {
    width: 100%;
  }
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  animation: 0.2s 3s ease-out forwards vanish;
}

.loader {
  background-color: #99E2D0;
  border: 1px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 150px;
  width: 150px;
  border-radius: 24px;
  animation: 0.2s 3s ease-out forwards vanish;
}
.loader__title {
  margin: 10px 50%;
}
.loader__anim {
  align-self: center;
  height: 50px;
  width: 10px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #FF79DA 5%, #9356DC 100%);
  margin: 5px;
  transform: scaleY(1);
  box-shadow: none;
  visibility: visible;
}
.loader__anim--1 {
  animation: 0.75s ease-in-out infinite loading;
}
.loader__anim--2 {
  animation: 0.75s 0.5s ease-in-out infinite loading;
}
.loader__anim--3 {
  animation: 0.75s 1s ease-in-out infinite loading;
}

@keyframes vanish {
  to {
    width: 0;
    overflow: hidden;
    border: none;
  }
}
@keyframes loading {
  0% {
    transform: scaleY(0.9);
  }
  10% {
    transform: scaleY(1.1);
  }
  20% {
    transform: scaleY(1.2);
  }
  30% {
    transform: scaleY(1.3);
  }
  40% {
    transform: scaleY(1.4);
  }
  50% {
    transform: scaleY(1.5);
  }
  60% {
    transform: scaleY(1.4);
  }
  70% {
    transform: scaleY(1.3);
  }
  80% {
    transform: scaleY(1.2);
  }
  90% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
.menu {
  padding: 20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-bottom: 4rem;
  margin-top: -4rem;
  z-index: 10;
  position: relative;
  background-color: #f5efef;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 600px) {
  .menu {
    align-items: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 25px;
  }
}
.menu__header {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}
.menu__title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 300;
}
.menu__icon {
  margin-left: auto;
  align-self: center;
}
@media only screen and (min-width: 600px) {
  .menu__icon {
    margin-left: 50px;
  }
}
.menu__section {
  width: 100%;
  margin-bottom: 3rem;
}
.menu__section__title {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
  position: relative;
}
.menu__section__title::after {
  content: "";
  background-color: #99E2D0;
  height: 3px;
  width: 40px;
  position: absolute;
  top: 1.5rem;
  left: 0px;
}
.menu__section {
  opacity: 0;
}
.menu__section:nth-child(2) {
  animation: slide-in 1s forwards;
  animation-delay: 0s;
}
.menu__section:nth-child(3) {
  animation: slide-in 1s forwards;
  animation-delay: 0.5s;
}
.menu__section:nth-child(4) {
  animation: slide-in 1s forwards;
  animation-delay: 1s;
}
.menu__section:nth-child(5) {
  animation: slide-in 1s forwards;
  animation-delay: 1.5s;
}

.cover-image {
  object-fit: cover;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .cover-image {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .bg-image--alafrançaise {
    background-image: url("https://gosugladesh.github.io/DaunasRomain_3_04032021/ressources/images/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: cover;
    padding: 4rem 0;
  }

  .bg-image--lapalette {
    background-image: url("https://gosugladesh.github.io/DaunasRomain_3_04032021/ressources/images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: cover;
    padding: 4rem 0;
  }

  .bg-image--lanote {
    background-image: url("https://gosugladesh.github.io/DaunasRomain_3_04032021/ressources/images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: cover;
    padding: 4rem 0;
  }

  .bg-image--ledelice {
    background-image: url("https://gosugladesh.github.io/DaunasRomain_3_04032021/ressources/images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-size: cover;
    padding: 4rem 0;
  }
}

/*# sourceMappingURL=main.css.map */
