@use "../utils/_mixins";

.main-content {
    padding: 15px;

    @media only screen and (min-width: 600px) {
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
    }
}
.restaurants {
    @include mixins.column-flex;

    @media only screen and (min-width: 600px) {
        @include mixins.row-flex;
        flex-wrap: wrap;
    }

    &__title {
        margin-bottom: 1.5rem;

        @media only screen and (min-width: 600px) {
            width: 100%;
        }
    }
}