@use "../utils/mixins";
@use "../utils/variables";


.menu {
    padding: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: white;
    margin-bottom: 4rem;
    margin-top: -4rem ;
    z-index: 10;
    position: relative;
    background-color: rgb(245, 239, 239);
    @include mixins.column-flex;

    &__header {
        @include mixins.row-flex;
        margin-bottom: 2rem;
    }
    &__title {
        @include mixins.logo-typo;
        font-weight: 300;       
    }
    &__icon {
        margin-left: auto;
        align-self: center;
    }

    &__section {

        &__title {
            font-size: 1rem;
            font-weight: normal;
            margin-bottom: 1.5rem;
            position: relative;

            &::after {
                content: "";
                background-color: variables.$accent-color;
                height: 3px;
                width: 40px;
                position: absolute;
                top: 1.5rem;
                left: 0px;
                
            }
        }
    }
}