@use "../utils/mixins";
@use "../utils/variables";


.menu {
    padding: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-bottom: 4rem;
    margin-top: -4rem ;
    z-index: 10;
    position: relative;
    background-color: rgb(245, 239, 239);
    @include mixins.column-flex;

    @media only screen and (min-width: 600px) {
        align-items: center;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 25px;
    }

    &__header {
        @include mixins.row-flex;
        margin-bottom: 2rem;
    }
    &__title {
        @include mixins.logo-typo;
        font-weight: 300;       
    }
    &__icon {
        margin-left: auto;
        align-self: center;
        @media only screen and (min-width: 600px) {
            margin-left: 50px;
        }
    }

    &__section {

        width: 100%;
        &__title {
            font-size: 1rem;
            font-weight: normal;
            margin-bottom: 1.5rem;
            position: relative;

            &::after {
                content: "";
                background-color: variables.$accent-color;
                height: 3px;
                width: 40px;
                position: absolute;
                top: 1.5rem;
                left: 0px;
                
            }
        }
    }
    &__section:nth-child(n) {
        opacity: 0;        
        @include mixins.cascadin-slide-in;
    }
}

