@use "../utils/mixins";

.menu {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: white;

    &__title {
        @include mixins.logo-typo;
        @include mixins.row-flex;
        margin-bottom: 2rem;
    }
    &__icon {
        margin-left: auto;
        align-self: center;
    }

    &__section {

        &__title {
            font-size: 1rem;
        }
    }
}