@use "../utils/_mixins";

.app-intro {
    @include mixins.column-flex;
    justify-content: center;
    padding: 20px;

    &__title {
        text-align: center;
    }
    &__text {
        text-align: center;
    }

}