@use "../utils/_mixins";

.app-intro {
    @include mixins.column-flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 5rem;

    &__title {
        text-align: center;
        margin-bottom: 1rem;
    }
    &__text {
        text-align: center;
    }

}