@use "../utils/_mixins";
@use "../utils/variables";


.button--primary {
    padding: 1rem;
    background: linear-gradient(to top, variables.$primary-color 5%, variables.$secondary-color 100%);
	border-radius:28px;
    box-shadow: 3px 3px 10px rgb(199, 199, 199);
    width: 60%;
    align-self: center;
	color:#ffffff;
    text-align: center;
    margin-top: 1.5rem;


    &:hover {
        background: linear-gradient(to top, lighten(variables.$primary-color, 5%) 5%, lighten(variables.$secondary-color, 5%) 100%);
        box-shadow: 3px 10px 10px rgb(199, 199, 199);
    }
    
}