@use "../utils/_mixins";
@use "../utils/variables";


.button--primary {
    padding: 1rem;
    background:linear-gradient(to bottom, variables.$secondary-color 5%, variables.$primary-color 100%);
	border-radius:28px;
    box-shadow: 3px 3px 10px rgb(199, 199, 199);
    width: 70%;
    align-self: center;
	color:#ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;


    &:hover {
        background: linear-gradient(to bottom, lighten(variables.$secondary-color, 5%) 5%, lighten(variables.$primary-color, 5%) 100%);
        box-shadow: 3px 10px 10px rgb(199, 199, 199);
    }
    
}