@use "../utils/_variables";
@use "../utils/_mixins";

.card {   
    @include mixins.column-flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 28px;
    box-shadow: 5px 5px 10px -8px rgba(88, 87, 87, 0.75);
    margin-bottom: 1rem;
    position: relative;
    margin-bottom: 2rem;
    
    
    @media only screen and (min-width: 500px){
        flex: 0 45%;
        margin: 15px;    
    }

    &__image {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
        max-height: 180px;
    }
    &__content {
        display: grid;
        grid-template-columns: 9fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 0px;
        padding: 12px;
        

        &__icon {
            grid-area: 1 / 2 / 3 / 3;            
            align-self: center;
            color: grey; 
            position: relative;
            height: 1.5rem;
            width: 1.5rem;

            &--color {
                position: absolute;
                left: 0px;
                top: -2px;
                z-index: 2;
                height: 1.5rem;
                width: 1.5rem;
                opacity: 0;
                &:hover {
                    opacity: 1;
                    background: linear-gradient(to top, variables.$secondary-color 5%, variables.$primary-color 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    
                }
            }
        }
        &__description {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            grid-area: 2/1/3/2;
            margin-top: 0.5rem;
            padding-right: 10px;
        }
        &__price {
            grid-area: 2/2/3/3;
        }
    }

    &--nouveau {
        position: relative;

        &::before {
            content: "Nouveau";
            background-color: variables.$accent-color;
            color: darken($color: variables.$accent-color, $amount: 40%);
            font-weight: bold;
            border-radius: 3px;
            padding: 0.5rem 0.75rem;
            position: absolute;
            top: 10px;
            right: 10px;

        }
    }
    &--pictureless {
        border-radius: 14px;
        @include mixins.row-flex;
        justify-content: space-between;
        overflow: hidden;
        animation: slide-in 1s forwards;
        
        &:hover {
            padding-right: 0;
            .card__check-element {
                transform: translateX(0px);
            }
            .card__check-icon {
                transform: rotate(360deg);
            }
           .card__grid {
               width: 80%;
           }
        }
    }
    &__check-element {
        transform: translateX(100px);
        transform-origin: right;
        transition-property: transform;
        transition-duration: 1s;        
        background-color: variables.$accent-color;
        width: 20%;
        border-top-right-radius: 14px;
        border-bottom-right-radius: 14px;
        display: flex;
        justify-content: center;
        flex-shrink: 120;

    }
    &__check-icon {
        align-self: center;
        color: white;
        transform: rotate(0deg);
        transition: transform 1s;

    }
    &__grid {
        display: grid;
        padding: 10px;
        grid-template-columns: 10fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        transition: width 1s;

    }
    @keyframes slide-in {
        from {
            transform: translateY(50px);
            opacity: 0;
        }
        to {
            transform: translateY(0px);
            opacity: 1;
        }
    }
   
}
