@use "../utils/_variables";
@use "../utils/_mixins";

.card {   
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    background-color: white;
    border-radius: 28px;
    box-shadow: 5px 5px 10px -8px rgba(88, 87, 87, 0.75);
    margin-bottom: 1rem;

    &__image {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
        max-height: 200px;
    }
    &__content {
        display: grid;
        grid-template-columns: 9fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        padding: 16px;

        &__icon {
            grid-area: 1 / 2 / 3 / 3;            
            align-self: center;
            color: grey;           
        }
    }

    &--nouveau {
        position: relative;
        &::before {
            content: "Nouveau";
            background-color: variables.$accent-color;
            color: darken($color: variables.$accent-color, $amount: 40%);
            font-weight: bold;
            border-radius: 3px;
            padding: 0.5rem 0.75rem;
            position: absolute;
            top: 10px;
            right: 10px;

        }
    }
    &--pictureless {
        
    }
   
}
