@use "../utils/_mixins";
@use '../utils/variables';

.fonctionnement {
    @include mixins.column-flex;
    
    &__list {
        
        margin-bottom: 6rem;

        &__item {
            @include mixins.row-flex;
            padding: 1rem;
            border-radius: 28px;
            position: relative;
            box-shadow: 0 2px 3px 3px rgb(226, 225, 225);
            margin-bottom: 1.5rem;
            margin: 2.4rem 0;
        }
        &__item:hover {
           background-color: fade-out(variables.$secondary-color,0.8);
            .fonctionnement__icon {
                color: variables.$primary-color;
            }
        }
        @media only screen and (min-width: 600px) {
            align-self: center;
            width: 100%;
        }
    }

    &__icon {
        align-self: center;
        height: 1rem;
        width: 1rem;
        color: grey;
        margin-right: 1.5rem;
        margin-left: 1rem;
    }
    &__marker {
        position: absolute;
        background-color: variables.$primary-color;
        height: 1.5rem;
        width: 1.5rem;
        top: 10px;
        left: -5px;
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}