@use "../utils/_mixins";

.footer {
    @include mixins.column-flex;
    background-color: #3b3a3a;
    color: white;
    padding: 30px;
    &__logo {
        height: 1.5rem;
        align-self: flex-start;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(283deg) brightness(104%) contrast(101%);
        margin-bottom: 1rem;
    }
    &__icon {
        margin-right: 7px;
        margin-top: 5px;
        height: 1rem;
        width: 1rem;
    }
    &__div {
        @include mixins.row-flex;
    }
    &__link {
        margin: 5px 0;
    }
}