@use "../utils/_mixins";

.header {
    background-color: white;
    box-shadow: 0px 2px 10px rgb(134, 132, 132);
    padding: 10px;
    &__logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
