@mixin row-flex {
    display: flex;
    flex-direction: row;
}
@mixin column-flex {
    display: flex;
    flex-direction: column; 
}

@mixin logo-typo {
    font-family: "Shrikhand", sans-serif;
}

@mixin cascadin-slide-in {
    @for $i from 1 through 4 {

        &:nth-child(#{$i}) {
            animation: slide-in 1s forwards;
            animation-delay: #{$i*0.5-1}s;
        }
    }
}